src/main/mule/subflows/account-request.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<configuration-properties doc:name="Configuration properties" doc:id="67912ccf-33ca-42fa-9432-2c79b1cbfb07" file="staging.properties" />
	<flow name="account-requestflow" doc:id="d31a02ac-58a6-487d-aa52-d594fd95ea80" >
		<http:request doc:name="accountRequest" doc:id="fd2e4691-6d99-4e85-8792-ab8d39744096" method="#[attributes.method]" responseTimeout="#[90000000]" url="${account.url}${sfdc.account}"/>
	</flow>
</mule>
