src/main/mule/implementation-eapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="8ffec890-98b8-4382-8478-3560c8633e8e" >
		<http:request-connection host="localhost" port="8082" />
	</http:request-config>
	<flow name="implementation-eapiFlow" doc:id="16b9c33b-2fc6-4d87-9cef-215d485c5b2c" >
		<http:request method="GET" doc:name="Request" doc:id="8b2e7906-d437-4c7a-bd97-1d5a1bbc5dfb" config-ref="HTTP_Request_configuration" path="/api/createcomposite">
			<http:query-params ><![CDATA[#[{
	createcomposite: attributes.queryParams.accountNumber
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="06d1ff3c-874e-4c4d-bbe2-127048f6eac8" />
	</flow>
</mule>
